{% extends '_base.html' %}

{% block title %}Profile {{ user.discord_id }}{% endblock %}

{% block style %}
    <style>
        body {
            color: #c4c4c4;
            background-color: #1a1a1a
        }

        #avatar {
            max-width: 20%;
            height: auto;
        }
    </style>
{% endblock %}

{% block content %}
    <img id="avatar" class="rounded-circle mx-auto d-block m-5" src="{{ user.avatar_url }}" alt="No avatar">
    <h1 class="text-center">{{ user.display_name }}</h1>


    <div class="container">
        <div class="row justify-content-center">
            <h3 class="text-center col">Lives: {{ lives }}</h3>
            <h3 class="text-center col">Score: {{ user.get_score }}</h3>
        </div>
    </div>

    <div class="container">
        <h2 class="text-center" style="padding-top: 50px">Submissions</h2>
        <div class="row justify-content-center">
            {% for submission in user.submission_set.all %}
                <div class="col-lg-3 d-flex justify-content-center m-3">
                    <figure class="figure">
                        <a href="{{ submission.file_url }}">{{ submission.get_html }}</a>
                        <figcaption class="figure-caption">{{ submission.challenge.title }}:
                            +{{ submission.get_score }}</figcaption>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}